.post-container {
    border: 1px solid grey;
    box-shadow: 0.5rem 0.5rem 1rem grey;
    border-radius: .5rem;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.post-container > div:first-child {
    display: flex;
    margin-right: 2rem;
}

.post-container > div > img {
    width: 15rem;
}